* {
  font-family: Verdana;
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #eee;
  font-size: 15px;
}

.header {
  width: 100%;
  background: #ff4a4a;
  padding: 1em;
  color: #fff;
}

.header .logo {
  font-size: 19px;
}
