* {
  font-family: Verdana;
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #eee;
  font-size: 15px;
  height: 100%;
}

.header, .footer {
  width: 100%;
  background: #ff4a4a;
  padding: 1em;
  color: #fff;
}

.header .logo {
  font-size: 19px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer a {
  text-align: center;
  color: #fff;
}