body {
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
  width: 300px;
}
* {
  box-sizing: border-box;
}

.container {
  padding: 1em;
}

h1, p {
  text-align: center;
}

p {
  font-size: 15px;
}

.description {
  opacity: 0.6;
}

.button {
  border-radius: 4px;
  width: 100%;
  padding: 1em 2em;
  background: #ff4a4a;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.button:hover {
  box-shadow: none;
}

.logo {
  display: block;
  margin: auto;
}

.issue {
  text-align: center;
  display: block;
  margin: 20px auto 0 auto;
}
